# Qt Creator
*.pro.user
*.pro.user.*
*.qbs.user
*.qmake.stash

# Build output
build-*/
debug/
release/
Makefile*
*.o
*.obj
*.exe
*.dll
*.so
*.a
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
object_script.*
*.res
*.rc
*.autosave

# OS / editor
Thumbs.db
desktop.ini
.DS_Store
.vscode/
.idea/
